<footer class="footer bg-dark py-3 mt-auto">
    <div class="container" style="text-align: center">
        <!-- <p align="center" style="color:white"><b></b></p> -->
        <span class="text-muted"><font color="white" ><b>&copy; GoCamp 2022</b></font></span>
    </div>
</footer>